@use '/src/styles/theme';

.form {
  border: none;
  border-radius: 10px;
  background: theme.colors('white');
  box-shadow: 0px 0px 10px 5px theme.colors('secondary-400');
}

.controls {
  position: relative;
  display: flex;
  margin: 0;
}

.inputField {
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  border-bottom: 1px solid theme.colors('secondary');
}

.button {
  border: none;
  border-radius: 5px;
  background: theme.colors('secondary-300');
  padding: 0.3rem;
  margin: 0.5rem 0 0;

  &:hover {
    background: theme.colors('primary-100');
  }

  &.active {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: theme.colors('text');
    background: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: theme.colors('danger');
    }
  }
}

.addNewWord {
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: theme.colors('primary');
  color: theme.colors('white');
  font-weight: bold;
  
  &:hover {
    background: theme.colors('primary-500');
  }
}