@use '/src/styles/theme';

.dictionary {
  overflow-y: scroll;
  height: calc(100vh - 165px);
  margin: 0 theme.$offset * -2;
  padding: 0 theme.$offset * 2;
  scrollbar-width: 3px;
  padding-right: calc(theme.$offset * 2 - 3px);

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    width: 3px;
    background: theme.colors('secondary-500');
    border-radius: 5px;
  }
}

.container {
  @include theme.container;
}

.wordWrapper {
  @include theme.grid(12, $sm: 6, $md: 4, $lg: 3);

  position: relative;
  background-color: theme.colors('white');
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px theme.colors('secondary-300');
  padding: 1rem;
}

.word {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.wordMeta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: theme.colors('text');
}

.wordTranslation {
  display: block;
  font-size: 1rem;
  color: theme.colors('primary-400');
}

.wordDetails {
  font-size: 0.8rem;
  color: theme.colors('primary');
}

.noWords {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  color: theme.colors('text-300');
  width: 100%;
  padding-top: 6rem;
  text-shadow: 0 0 5px theme.colors('text-200');
}