@use '/src/styles/theme';

.form {
  border: none;
  border-radius: 10px;
  background: theme.colors('white');
  box-shadow: 0px 0px 10px 5px theme.colors('secondary-400');
}

.controls {
  position: relative;
  display: flex;
  margin: 0;
  pointer-events: none;
}

.inputField {
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  border-bottom: 1px solid theme.colors('secondary');
  pointer-events: auto;

  &.fieldError {
    color: theme.colors('danger');
    border-bottom-color: theme.colors('danger');
  }
}

.addNewWord {
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: theme.colors('primary');
  color: theme.colors('white');
  font-weight: bold;
  
  &:hover {
    background: theme.colors('primary-500');
  }
}

.fieldActive {
  display: none;

  &:checked {
    & ~ .inputField {
      display: none;
    }

    & ~ .fieldBtnControl{
      padding: 0.3rem;
      margin: 0.5rem 0 0;
      font-size: 0.8em;
    
      &:after {
        display: none;
      }
    } 
  }
}

.fieldBtnControl {
  pointer-events: auto;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: theme.colors('secondary-300');
  cursor: pointer;

  &:after {
    content: '\2716';
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: theme.colors('text');
    background: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background: theme.colors('primary-100');

    &:after {
      color: theme.colors('danger');
    }
  }
}

.error {
  position: absolute;
  color: theme.colors('danger');
  font-size: 0.6rem;
  right: 0;
  bottom: -10px;
}