@use '/src/styles/theme' with (
  $offset: 0
);

.filters {
  @include theme.container;
  align-items: center;
  justify-content: space-between;
}

.filter {
  background-color: theme.colors('primary');
  border: none;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  font-weight: bold;
  color: theme.colors('text-100');

  &:last-of-type {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: theme.colors('primary-500');
  }

  &:active {
    background-color: theme.colors('primary');
  }
}