@use '/src/styles/theme';

.descr {
  display: flex;
  flex-wrap: wrap;
}

.descrName {
  font-weight: bold;
  color: theme.colors('text-600');
  margin-right: 0.5rem;
}

.descrInfo {
  color: theme.colors('text-500');
  margin-left: 0;

  p {
    margin: 0;
  }
}